<script setup lang="ts">
import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'
import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import MemberCard from './MemberCard.vue'
import { ref, nextTick, provide } from 'vue'
import { useReceiptStore } from '@/stores/receipt'
import ReceiptCard from './ReceiptCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

const receiptStore = useReceiptStore()



const products1: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 2,
    name: 'โกโก้ร้อน',
    price: 45.0,
    type: 1
  },
  {
    id: 3,
    name: 'ลาเต้ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 4,
    name: 'ลาเต้ร้อน',
    price: 30.0,
    type: 1
  },
  {
    id: 5,
    name: 'ลาเต้ร้อน',
    price: 40.0,
    type: 1
  },
  {
    id: 6,
    name: 'ลาเต้ร้อน',
    price: 46.0,
    type: 1
  },
  {
    id: 7,
    name: 'ลาเต้ร้อน',
    price: 55.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 9,
    name: 'ลาเต้ร้อน',
    price: 45.0,
    type: 1
  }
]
const products2: Product[] = [
  {
    id: 1,
    name: 'ชีสเค้ก',
    price: 135.0,
    type: 2
  },
  {
    id: 2,
    name: 'ไอศครีมวนิลา',
    price: 40.0,
    type: 2
  }
]
const products3: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 2,
    name: 'โกโก้ร้อน',
    price: 45.0,
    type: 3
  },
  {
    id: 3,
    name: 'ลาเต้ร้อน',
    price: 55.0,
    type: 3
  }
]
const selected = (p: Product) => {
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItem.value) divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight)
  })
}
const tab = ref(1)
const divReceiptItem = ref<HTMLElement | null>(null)
const showReceipt = () => {
  receiptStore.showReceiptDialog()
}
</script>

<template>
  <v-container>
    <v-row>
      <!-- COL1 -->
      <v-col cols="12" md="6" style="background-color: darkblue">
        <v-container style="padding: 0%">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItem" style="height: 300; overflow: auto">
                <v-sheet min-width="400" max-width="600" height="300" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="400" max-width="600" height="80" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="400" max-width="600" height="คจ" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="400" max-width="600" height="ๅจจ" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-btn block rounded="xl" size="large" color="error">ยกเลิก</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-btn block rounded="xl" size="large" color="primary" @click="showReceipt()"
                        >ยืนยัน</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <!-- COL2 -->
      <v-col cols="12" md="6" style="background-color: rebeccapurple">
        <v-sheet min-width="400" max-width="600" height="633" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ของหวาน</v-tab>
            <v-tab :value="3">อาหาร</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="2">
              <ProductList :products="products2" @selectedProduct="selected"></ProductList>
            </v-window-item>

            <v-window-item :value="3">
              <ProductList :products="products3" @selectedProduct="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>
