<script setup lang="ts">
import { type Product } from '@/types/Product'

const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()

const selected = () => {
    console.log(props.product)
    emit('selectedProduct', props.product)
}
</script>

<template>
    <v-sheet width="110" height="100" elevation="3" @click="selected">
        <v-img :src="`./image/coffee/product${product.id}.jpg`" height="80" cover></v-img>
        <div style="text-align: center;">{{ product.name }} {{ product.price }} ฿</div>
    </v-sheet>
</template>